In [1]:
import spacy
import pandas as pd

In [39]:
nlp = spacy.load("en_core_web_sm")

In [40]:
sent = ("the quick brown fox jumps over the lazy dog while a young boy watches from the hill under the clear blue sky birds are flying and the wind is blowing gently through the trees")
sent

'the quick brown fox jumps over the lazy dog while a young boy watches from the hill under the clear blue sky birds are flying and the wind is blowing gently through the trees'

In [41]:
spacy_doc = nlp(sent)
spacy_doc

the quick brown fox jumps over the lazy dog while a young boy watches from the hill under the clear blue sky birds are flying and the wind is blowing gently through the trees

In [42]:
pos_df = pd.DataFrame(columns =  ["token", "pos_tag"])

In [43]:
for token in spacy_doc:
    pos_df = pd.concat([pos_df, pd.DataFrame.from_records([{"token" : token.text,"pos_tag" : token.pos_}])], ignore_index = True)

In [44]:
pos_df.head(15)

      token pos_tag
0       the     DET
1     quick     ADJ
2     brown     ADJ
3       fox    NOUN
4     jumps    VERB
5      over     ADP
6       the     DET
7      lazy     ADJ
8       dog    NOUN
9     while   SCONJ
10        a     DET
11    young     ADJ
12      boy    NOUN
13  watches    VERB
14     from     ADP

In [45]:
pos_df_counts = pos_df.groupby(["pos_tag","token"]).size().reset_index(name = "counts").sort_values(by = "counts", ascending = False)
pos_df_counts.head(10)

   pos_tag    token  counts
15     DET      the       6
0      ADJ     blue       1
27    VERB    jumps       1
26    VERB   flying       1
25    VERB  blowing       1
24   SCONJ    while       1
23    NOUN     wind       1
22    NOUN    trees       1
21    NOUN      sky       1
20    NOUN     hill       1

In [46]:
pos_df_poscounts = pos_df.groupby("pos_tag").size().reset_index(name = "counts").sort_values(by = "counts", ascending = False)
pos_df_poscounts.head(10)

  pos_tag  counts
6    NOUN       8
5     DET       7
0     ADJ       6
1     ADP       4
8    VERB       4
3     AUX       2
2     ADV       1
4   CCONJ       1
7   SCONJ       1

In [48]:
nouns = pos_df_counts[pos_df_counts.pos_tag == "NOUN"]
nouns

   pos_tag  token  counts
23    NOUN   wind       1
22    NOUN  trees       1
21    NOUN    sky       1
20    NOUN   hill       1
19    NOUN    fox       1
18    NOUN    dog       1
17    NOUN    boy       1
16    NOUN  birds       1

In [16]:
from IPython.display import display, HTML

In [17]:
import spacy
from spacy import displacy
from spacy import tokenizer
import re

In [18]:
nlp = spacy.load("en_core_web_sm")

In [19]:
text = "Barack Obama was the 44th president of the United States. He was born in Hawaii."
text

'Barack Obama was the 44th president of the United States. He was born in Hawaii.'

In [20]:
spacy_doc = nlp(text)

In [21]:
for word in spacy_doc.ents:
    print(word.text, word.label_)

Barack Obama PERSON
44th ORDINAL
the United States GPE
Hawaii GPE

In [22]:
displacy.serve(spacy_doc, style = "ent")

ImportError: cannot import name 'display' from 'IPython.core.display' (D:\Anaconda\envs\nlp_course_env\Lib\site-packages\IPython\core\display.py)